body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
width: 48rem;
margin: 0 auto;	
border-left: 1px solid #71748d;
border-right: 1px solid #71748d;
height:100vh;
min-height:100vh;
box-shadow: 0 10px 6px -6px #777;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #71748d;
}

.main-header {
    height: 3.5rem;
    background-color: #dbc441;
    padding: 0 1.5rem;
}
.main-header h2{
    text-align: center;
    margin: 0;
    padding-top: 14px;
}

.mainScreen{
    width: 60%;
    margin: 0 auto;
    padding-top: 10px;
}

footer{
    text-align: center;
    margin: 2rem;
}

.container{
display: flex;
flex-direction: column;
align-items: center;	
}

input,
.btn {
  width: 90%;
  padding: 12px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; 
}

.btn{
	width: 96%;
	border:none;
}

input:hover,
.btn:hover {
  opacity: 1;
}

.field-account-type{
    display: flex;
    flex-direction: row;
    width: 20%;
	align-items: center;
}

.field-withdraw{
	display: flex;
    flex-direction: column;
    width: 100%;
	align-items: center;
	margin: 10px 0;
}

ul li{
list-style: none;	
}

.counter-container{
	padding-top: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}